<?xml version="1.0"?>
<!--
  specialist.urdf.xacro — Specialist 作业处置机

  特色: 4-DOF 机械臂 + 热成像 + LED 补光
  尺寸: 450×350mm, 8kg
-->
<robot name="specialist" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find swarm_bringup)/urdf/common/common_properties.xacro"/>
  <xacro:include filename="$(find swarm_bringup)/urdf/common/chassis.xacro"/>
  <xacro:include filename="$(find swarm_bringup)/urdf/common/mecanum_wheel.xacro"/>
  <xacro:include filename="$(find swarm_bringup)/urdf/common/sensors.xacro"/>

  <!-- 底盘 -->
  <xacro:chassis length="0.45" width="0.35" height="0.129" mass="8.0"
    wheel_radius="0.055" wheel_pos_z="-0.044"
    mesh_file="package://swarm_bringup/meshes/shared/chassis.dae"
    body_material="body_orange"/>

  <!-- 麦轮 -->
  <xacro:mecanum_wheel side="front_left"  radius="0.055" width="0.030"
    pos_x="0.150" pos_y="0.150" pos_z="-0.044" mass="0.20"
    mesh_file="package://swarm_bringup/meshes/shared/tire.dae" pi="${pi}"/>
  <xacro:mecanum_wheel side="front_right" radius="0.055" width="0.030"
    pos_x="0.150" pos_y="-0.150" pos_z="-0.044" mass="0.20"
    mesh_file="package://swarm_bringup/meshes/shared/tire.dae" pi="${pi}"/>
  <xacro:mecanum_wheel side="rear_left"   radius="0.055" width="0.030"
    pos_x="-0.150" pos_y="0.150" pos_z="-0.044" mass="0.20"
    mesh_file="package://swarm_bringup/meshes/shared/tire.dae" pi="${pi}"/>
  <xacro:mecanum_wheel side="rear_right"  radius="0.055" width="0.030"
    pos_x="-0.150" pos_y="-0.150" pos_z="-0.044" mass="0.20"
    mesh_file="package://swarm_bringup/meshes/shared/tire.dae" pi="${pi}"/>

  <!-- Specialist 专属 -->
  <xacro:thermal_camera x="0.20" y="-0.05" z="0.08"/>
  <xacro:robot_arm/>
  <xacro:led_bar x="0.20" y="0" z="0.08"/>
  <xacro:uwb_tag x="-0.12" y="0" z="0.14"/>

  <!-- Gazebo -->
  <xacro:include filename="$(find swarm_bringup)/urdf/common/gazebo_plugins.xacro"/>
  <xacro:gazebo_mecanum namespace="specialist"
    wheel_base="0.300" wheel_separation="0.300" wheel_radius="0.055"/>
</robot>
